@import "mixins";
@import "variables";

.panel-warning>.panel-heading {
    color: $orange;
}

.batwoman {
    background-color: #d9d9d9;
}

.arrow {
    background-color: #dff0d8;
}

.supergirl {
    background-color: #f2dede;
}

.flash {
    background-color: #fcf8e3;
}

.legends {
    background-color: #d9edf7;
}

.table-hover>tbody>tr {
    &.arrow:hover>td {
        background-color: #d0e9c6;
    }

    &.legends:hover>td {
        background-color: #c4e3f3;
    }

    &.flash:hover>td {
        background-color: #faf2cc;
    }

    &.supergirl:hover>td {
        background-color: #ebcccc;
    }

    &.batwoman:hover>td {
        background-color: #ccc;
    }
}

p {
    margin: 0;
}

.table {
    font-size: 14px;

    >thead {
        width: 100%;

        >tr>th {
            width: 25%;
            padding: $padding;
            font-weight: bold;
        }
    }

    >tbody {
        width: 100%;
        border-bottom: 2px solid $colord;

        &.seen>tr>td {
            @include groen;
        }

        >tr {
            &.seen>td {
                @include groen;
            }

            border-left: 2px solid $colord;
            border-right: 2px solid $colord;

            >td {
                padding: $padding;
                font-weight: bold;
                color: $red;

                &.collapse.in {
                    column-span: all;
                }
            }
        }
    }
}

.well {
    width: 95%;
    margin: auto;
    border: 0px solid $colore3;
}